{% extends 'base.html' %}

{% block content %}
    <h1>Vous pouvez modifier l'association véhicule / conducteur #{{ association[0].idAssociation }} :</h1>

    <div class="container-fluid mt-3">
        <form method="post" action="{{base_path ~ '/conducteur/' ~ association[0].idAssociation ~ '/edit'}}">

            <input type="hidden" name="id_conducteur" class="form-control" id="id_conducteur" value="{{ association[0].idAssociation }}">

            <div class="form-group row">
                <label for="nom" class="col-sm-2 col-form-label"><strong>Nom : </strong></label>
                <div class="col-sm-10">
                    <input type="text" name="nom" class="form-control" id="nom" value="{{ association[0].idVehicule }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="prenom" class="col-sm-2 col-form-label"><strong>Prénom : </strong></label>
                <div class="col-sm-10">
                    <input type="text" name="prenom" class="form-control" id="prenom" value="{{ association[0].idConducteur }}">
                </div>
            </div>

            <input class="btn btn-warning" type="submit" value="Modifier l'association">
        </form>

    </div>



{% endblock content %}